<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-6">
            <app-color-picker (colorConnector)="getColor($event)"></app-color-picker>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <app-size-setting [size]="fontSizeDefault" (sizeConnector)="getSize($event)"></app-size-setting>
            <app-reset (resetConnector)="getReset()"></app-reset>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p>Color: {{ colorDefault }} - FontSize: {{ fontSizeDefault }}px</p>
            <app-result [color]="colorDefault" [size]="fontSizeDefault"></app-result>
        </div>
    </div> 
</div>
